{% extends "base.html" %}
{% block extra_css %}
<style>
    .logo {
        -webkit-filter: grayscale(100%);
        /* Safari 6.0 - 9.0 */
        filter: grayscale(100%);
    }

    .cropped-img {
        width: 300px;
        height: 300px;
        object-fit: cover;
        object-position: 25% 25%;
    }
    table {
      border-collapse: collapse;
      width: 100%;
    }
    th, td {
      text-align: left;
      padding: 8px;
    }
    tr:nth-child(even) {
      background-color: #f2f2f2;
    }
    th {
      background-color: #4CAF50;
      color: white;
    }
</style>
{% endblock %}

{% block content %}
<div class="container px-4 py-5" id="form">
    <h2 class="pb-2 border-bottom">Upload Forms</h2>

    <div class="row featurette py-5">

        <div class="col-md-4 order-md-1">
            <form id="upload-form" action="." method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="mb-3">
                    <label for="formFile" class="form-label">choose multiple images to upload with Model Form</label>
                    <input class="form-control" name="file" type="file" id="id_file" multiple>
                </div>

                <div id="progress-bar">
                    <button id="progress" class="btn btn-dark w-100" type="submit"> Upload</button>
                </div>
                
            </form>
        </div>
        <div class="col-md-4 order-md-1">
            <p>
                both forms are doing the same work but with different methodologies, the one in the left will use Django
                Model Form and the one on the right will use RestFramework API.
            </p>
            <p>
                both will be able to handle multiple upload files from the form.
            </p>
        </div>
        <div class="col-md-4 order-md-1">
            <form enctype="multipart/form-data" id="api-form">
                <div class="mb-3">
                    <label for="formFile" class="form-label">choose multiple images to upload with API</label>
                    <input class="form-control" name="file" type="file" id="id_file" multiple>
                </div>

                <button class="btn btn-dark w-100" type="submit"> Upload</button>
            </form>
        </div>
    </div>
</div>


<div class="container px-4 py-5" id="gallery">
    <h2 class="pb-2 border-bottom">Gallery</h2>

    <div class="col-md-12 order-md-2">
        <div class="container">
            <div class="row row-cols-4">
                {% for photo in gallery %}
                    {% if ".jpg" in photo.download_url or ".jpeg" in photo.download_url or ".png" in photo.download_url or ".gif" in photo.download_url %}
                    <div class="col p-3">
                        <img class="cropped-img" src="{{photo.download_url}}" />
                    </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
</div>
<div class="container px-4 py-5" id="storage">
    <h2 class="pb-2 border-bottom">Storage</h2>
    <body>
        <table>
          <thead>
            <tr>
              <th>File</th>
              <th>Download</th>
              <th>Delete</th>
            </tr>
          </thead>
          <tbody>
            {% for file in gallery %}
            <tr>
              <td>{{file.file_name}}</td>
              <td><a href="{{file.download_url}}" download>T i v </a></td>
              <td><a href="{{file.delete_url}}" class="delete-link">X o</a></td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </body>
</div>
{% endblock %}

{% block extra_js %}
<script>
    $("#api-form").submit(function (event) {
        event.preventDefault();
        var formData = new FormData($(this)[0]);
        // AJAX request
        $.ajax({
            url: "/api/photo/upload/",
            type: "post",
            data: formData,
            dataType: "multipart/form-data",
            contentType: false,
            processData: false,
            complete: function () {
                location.reload()
              }
        });

    });
    document.getElementById("upload-form").onsubmit = function(event) {
        event.preventDefault();
        
        var formData = new FormData(this);
        var xhr = new XMLHttpRequest();
        var progressBar = document.getElementById("progress");
        
        xhr.upload.addEventListener("progress", function(event) {
            if (event.lengthComputable) {
                var percentComplete = (event.loaded / event.total) * 100;
                progressBar.style.width = percentComplete + "%";
                progressBar.textContent = Math.round(percentComplete) + "%";
            }
        }, false);
        
        xhr.onreadystatechange = function() {
            if (xhr.readyState === 4 && xhr.status === 200) {
                alert("Files uploaded successfully!");
                location.reload();
            } else if (xhr.readyState === 4) {
                alert("An error occurred while uploading files.");
            }
        };
        
        xhr.open("POST", "{% url 'website:index' %}", true);
        xhr.send(formData);
    };
</script>
{% endblock %}